flows.json
[{"id":"27d015a2.036d5a","type":"tab","label":"Twitter","disabled":false,"info":""},{"id":"6e136317.3add5c","type":"tab","label":"All Sensor Data Gauges","disabled":false,"info":""},{"id":"68d11693.cb6f28","type":"tab","label":"Basic Lights","disabled":false,"info":""},{"id":"dddec744.0a3a5","type":"tab","label":"Advanced Lights","disabled":false,"info":""},{"id":"9c931c56.53461","type":"tab","label":"Camera Alert","disabled":false,"info":""},{"id":"ea445d29.6cc15","type":"tab","label":"Test Displays","disabled":false,"info":""},{"id":"3d6c12d2.9f4a6e","type":"tab","label":"Test Alerts","disabled":false,"info":""},{"id":"55d98ec2.4cad","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"16285136.3f26e7","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"63a2132c.712f44","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f14ab571.972718","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"17ccc224.617626","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"e4babfde.e80fa8","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"69b338ed.2f6f2","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"74b37fae.604b5","type":"ui_group","z":"","name":"Local Env","tab":"5017df27.b1d298","disp":true,"width":"6","collapse":false},{"id":"c75eaf40.464bc","type":"ui_group","z":"","name":"Tables","tab":"5017df27.b1d298","order":2,"disp":true,"width":"6","collapse":false},{"id":"b61bd63b.5d2c88","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5017df27.b1d298","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"bda7f55e.b9f2b","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e0bd318e.0deaf8","type":"ui_group","z":"","name":"Local Env","tab":"d19f9631.ea5db","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4ab46a1.623a78","type":"ui_group","z":"","name":"Temp on all Tables","tab":"6b55347c.941dec","order":2,"disp":true,"width":"6","collapse":false},{"id":"ee665d0f.7820e8","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d19f9631.ea5db","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6b55347c.941dec","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d3806a83.087cd","type":"ui_group","z":"","name":"Temp on all Tables","tab":"13612598.de1792","order":1,"disp":true,"width":"6","collapse":false},{"id":"25c64cd8.5c2094","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f1fd8897.5f8a68","type":"ui_group","z":"","name":"Table 5-8","tab":"13612598.de1792","order":3,"disp":true,"width":"6","collapse":false},{"id":"5225711d.d80328","type":"ui_group","z":"","name":"Table 9-12","tab":"13612598.de1792","order":4,"disp":true,"width":"6","collapse":false},{"id":"13612598.de1792","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1e6d24d6.c60f03","type":"ui_group","z":"","name":"Temp on all Tables","tab":"6b1d4309.2dc3ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"994fea80.cb04a","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"2c551856.3bbdf8","type":"ui_group","z":"","name":"Table 5-8","tab":"6b1d4309.2dc3ac","order":3,"disp":true,"width":"6","collapse":false},{"id":"418c08e5.0bdb78","type":"ui_group","z":"","name":"Table 9-12","tab":"6b1d4309.2dc3ac","order":4,"disp":true,"width":"6","collapse":false},{"id":"bac5d2fe.58a0f8","type":"ui_group","z":"","name":"Table 1","tab":"5f632ca9.0247f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"1d914196.a092ce","type":"ui_group","z":"","name":"Table 2","tab":"5f632ca9.0247f4","order":2,"disp":true,"width":"6","collapse":false},{"id":"e82e995c.b60db","type":"ui_group","z":"","name":"Table 3","tab":"5f632ca9.0247f4","order":3,"disp":true,"width":"6","collapse":false},{"id":"ad497043.e7d398","type":"ui_group","z":"","name":"Table 4","tab":"5f632ca9.0247f4","order":4,"disp":true,"width":"6","collapse":false},{"id":"375e90e3.8e6a88","type":"ui_group","z":"","name":"Table 5","tab":"5f632ca9.0247f4","order":5,"disp":true,"width":"6","collapse":false},{"id":"6b1d4309.2dc3ac","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5f632ca9.0247f4","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"2b036da8.a0b43a","type":"ui_group","z":"","name":"Buttons","tab":"962dad4e.45e8b","disp":true,"width":"6","collapse":false},{"id":"962dad4e.45e8b","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"1e798897.dee127","type":"ui_group","z":"","name":"Scene","tab":"962dad4e.45e8b","order":2,"disp":true,"width":"6","collapse":false},{"id":"de3ecd58.d47388","type":"ui_group","z":"","name":"Table 6","tab":"5f632ca9.0247f4","order":6,"disp":true,"width":"6","collapse":false},{"id":"29244d57.5e4182","type":"ui_group","z":"","name":"Table 7","tab":"5f632ca9.0247f4","order":7,"disp":true,"width":"6","collapse":false},{"id":"e3cadf54.21e318","type":"ui_group","z":"","name":"Table 8","tab":"5f632ca9.0247f4","order":8,"disp":true,"width":"6","collapse":false},{"id":"f60acbc.3e69838","type":"ui_group","z":"","name":"Table 9","tab":"5f632ca9.0247f4","order":9,"disp":true,"width":"6","collapse":false},{"id":"c40730e7.211258","type":"ui_group","z":"","name":"Table 10","tab":"5f632ca9.0247f4","order":10,"disp":true,"width":"6","collapse":false},{"id":"5734fa26.47015c","type":"ui_group","z":"","name":"Table 11","tab":"5f632ca9.0247f4","order":11,"disp":true,"width":"6","collapse":false},{"id":"61ecef4.dd2b61","type":"ui_group","z":"","name":"Table 12","tab":"5f632ca9.0247f4","order":12,"disp":true,"width":"6","collapse":false},{"id":"8ba8de2c.24a468","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"da164394.5a274","type":"hue-bridge","z":"","name":"New Lab","bridge":"10.0.0.27","key":"AarprBpJNLJ56n5YUpjtzp2ktSoZRgFe2YR9DN8U","interval":"3000"},{"id":"4c27caa2.f19e84","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"13f55c7f.d263f4","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"82bf92a2.dae6c","type":"comment","z":"27d015a2.036d5a","name":"*Waiting for Applicaion API approval from Twitter","info":"","x":1268,"y":172,"wires":[]},{"id":"5d8b2ca4.0e1eb4","type":"debug","z":"dddec744.0a3a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":340,"wires":[]},{"id":"f6a196b8.a1dc78","type":"inject","z":"dddec744.0a3a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["a9408eb4.9d95b"]]},{"id":"8515bb92.408618","type":"inject","z":"dddec744.0a3a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":400,"wires":[["861917e3.e22f08"]]},{"id":"a8b1480e.2ddd78","type":"inject","z":"dddec744.0a3a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":560,"wires":[["f1e6c5eb.dc9c68"]]},{"id":"a99b2254.bd06f","type":"comment","z":"dddec744.0a3a5","name":"Setups up a Scene for a group of lights","info":"Press the Search icon and select a scene.\n\nAny input will trigger this flow. it does not matter what the source input is\n\n\nConnect to the lights you want to change.\n","x":515,"y":70,"wires":[]},{"id":"9a359c0b.ebf488","type":"comment","z":"dddec744.0a3a5","name":"Can you make is easy setup a scene that crosses multiple lights","info":"Blah blah....","x":242,"y":25,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"198299ae.ad6e6e","type":"comment","z":"dddec744.0a3a5","name":"Can you make is easy turn lights on and off on other tables","info":"Blah blah....","x":250,"y":860,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"fa1b5e4.895612","type":"comment","z":"dddec744.0a3a5","name":"Make and API to lights on and off on other tables","info":"Blah blah....","x":219,"y":950,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"5494e76f.0cead","type":"comment","z":"dddec744.0a3a5","name":"Have light react to an outside alert","info":"React the the following states\n\nLowAlert - Stand Message that will happen all the time\n\nMedAlert\n\nHighAlert\n\nMeltDownAlert","x":185,"y":1038,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"b0a2739.779001","type":"comment","z":"27d015a2.036d5a","name":"Can you search for all Tweets that include SUSE","info":"Blah blah....","x":258,"y":170,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"6c02c5be.e36b5c","type":"comment","z":"27d015a2.036d5a","name":"Can you limit yout notification to just Trending Tweets about one of your customers?","info":"Blah blah....","x":364,"y":660,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"2aa3c142.1bb8ae","type":"comment","z":"27d015a2.036d5a","name":"Can you display the Tweets that include SUSE","info":"Blah blah....","x":249,"y":326,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"1e9ad65f.d8dd72","type":"comment","z":"27d015a2.036d5a","name":"Can you display the Tweets that include you customers","info":"Blah blah....","x":279,"y":459,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"94d01b5a.c02378","type":"comment","z":"27d015a2.036d5a","name":"Can you search for all Tweets that include your top customers?","info":"Blah blah....","x":309,"y":402,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"a693512d.c3ed9","type":"comment","z":"27d015a2.036d5a","name":"Can you limit the amount of tweets you see","info":"Watching all of the tweet can be overwheming.","x":251,"y":591,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"4ce5dcc3.9a91ac","type":"comment","z":"27d015a2.036d5a","name":"Can you change the color of a light bulb based on what company  was just tweeted about","info":"As a new tweet comes in ","x":392,"y":527,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"1c19f5fa.cdb90a","type":"debug","z":"27d015a2.036d5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":220,"wires":[]},{"id":"6aca850c.354cdc","type":"function","z":"27d015a2.036d5a","name":"","func":"var tweet = msg.tweet;\nvar name = tweet.user.screen_name;\nvar nameID = tweet.id.str;\nmsg.payload = tweet.user.screen_name;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["1c19f5fa.cdb90a"]]},{"id":"51a0708f.7d44d8","type":"debug","z":"27d015a2.036d5a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.user.screen_name","targetType":"msg","x":850,"y":300,"wires":[]},{"id":"6d4fb059.fbe958","type":"debug","z":"27d015a2.036d5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":800,"y":340,"wires":[]},{"id":"a9408eb4.9d95b","type":"hue-scene","z":"dddec744.0a3a5","name":"Savanna sunset","bridge":"da164394.5a274","sceneid":"huZ0oT9lVXax2Eo","x":560,"y":180,"wires":[["65b1442c.7db6a4","9408b3d8.5d429","30f01dbf.1d388a"]]},{"id":"861917e3.e22f08","type":"hue-scene","z":"dddec744.0a3a5","name":"Energize","bridge":"da164394.5a274","sceneid":"iMXdu5R8n4hgfnt","x":560,"y":320,"wires":[["65b1442c.7db6a4","9408b3d8.5d429","30f01dbf.1d388a"]]},{"id":"f1e6c5eb.dc9c68","type":"hue-scene","z":"dddec744.0a3a5","name":"Tropical twilight","bridge":"da164394.5a274","sceneid":"ikwlXC9iZCHoggR","x":560,"y":460,"wires":[["65b1442c.7db6a4","9408b3d8.5d429","30f01dbf.1d388a"]]},{"id":"5dbda0a7.0773d","type":"hue-scene","z":"dddec744.0a3a5","name":"Arctic aurora","bridge":"da164394.5a274","sceneid":"Iog4Adf8YGSkASo","x":570,"y":580,"wires":[["30f01dbf.1d388a","9408b3d8.5d429","65b1442c.7db6a4"]]},{"id":"80e2c32a.8ad26","type":"inject","z":"dddec744.0a3a5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":720,"wires":[["5dbda0a7.0773d"]]},{"id":"1f34f20c.c5f186","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"1e6d24d6.c60f03","order":1,"width":0,"height":0,"gtype":"gage","title":"Table 1","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":120,"wires":[]},{"id":"f0aa27bb.ff6048","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/1/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":240,"y":120,"wires":[["1f34f20c.c5f186"]]},{"id":"da32dc01.160fb","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"1e6d24d6.c60f03","order":2,"width":0,"height":0,"gtype":"gage","title":"Table 2","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":200,"wires":[]},{"id":"7cd10c1.9542774","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/2/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":240,"y":200,"wires":[["da32dc01.160fb"]]},{"id":"c78ca90c.5bce48","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"1e6d24d6.c60f03","order":3,"width":0,"height":0,"gtype":"gage","title":"Table 3","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":280,"wires":[]},{"id":"bc25c900.1a37a8","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/3/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":240,"y":280,"wires":[["c78ca90c.5bce48"]]},{"id":"30afe1f0.0f08de","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"1e6d24d6.c60f03","order":4,"width":0,"height":0,"gtype":"gage","title":"Table 4","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":360,"wires":[]},{"id":"f655a849.71d498","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/4/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":240,"y":360,"wires":[["30afe1f0.0f08de"]]},{"id":"8bdba4cc.ab82b8","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"2c551856.3bbdf8","order":1,"width":0,"height":0,"gtype":"gage","title":"Table 5","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":460,"wires":[]},{"id":"8626b9.a02ee148","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/5/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":240,"y":460,"wires":[["8bdba4cc.ab82b8"]]},{"id":"fa29cd1.9c8c0b","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"2c551856.3bbdf8","order":2,"width":0,"height":0,"gtype":"gage","title":"Table 6","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":540,"wires":[]},{"id":"74a6b3cd.d00424","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/6/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":240,"y":540,"wires":[["fa29cd1.9c8c0b"]]},{"id":"dc4f3f20.68a568","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"2c551856.3bbdf8","order":3,"width":0,"height":0,"gtype":"gage","title":"Table 7","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":120,"wires":[]},{"id":"51c5a74a.c521","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/7/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":840,"y":120,"wires":[["dc4f3f20.68a568"]]},{"id":"7fb8efe9.eee96","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"2c551856.3bbdf8","order":4,"width":0,"height":0,"gtype":"gage","title":"Table 8","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":200,"wires":[]},{"id":"d23d81fc.9c7278","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/8/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":840,"y":200,"wires":[["7fb8efe9.eee96"]]},{"id":"1dca0152.1ed677","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"418c08e5.0bdb78","order":1,"width":0,"height":0,"gtype":"gage","title":"Table 9","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":280,"wires":[]},{"id":"bf5cf74.d7ad688","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/9/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":840,"y":280,"wires":[["1dca0152.1ed677"]]},{"id":"47e8ed.4da70714","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"418c08e5.0bdb78","order":2,"width":0,"height":0,"gtype":"gage","title":"Table 10","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":360,"wires":[]},{"id":"ad899711.0b69d","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/10/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":840,"y":360,"wires":[["47e8ed.4da70714"]]},{"id":"27dc914a.85f8be","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"418c08e5.0bdb78","order":3,"width":0,"height":0,"gtype":"gage","title":"Table 11","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":460,"wires":[]},{"id":"71eb940a.092df4","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/11/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":840,"y":460,"wires":[["27dc914a.85f8be"]]},{"id":"8b902af1.ff5b9","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"418c08e5.0bdb78","order":4,"width":0,"height":0,"gtype":"gage","title":"Table 12","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1220,"y":540,"wires":[]},{"id":"479c403b.47523","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/12/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":840,"y":540,"wires":[["8b902af1.ff5b9"]]},{"id":"a7698525.5dae58","type":"comment","z":"6e136317.3add5c","name":"This sends all the temp sensor data to the dashboard on a single tab called ...","info":"To view this information go to _IP_:1880/ui and select the ... on the left tab button","x":450,"y":40,"wires":[]},{"id":"6f340192.06daf","type":"comment","z":"6e136317.3add5c","name":"Wait for sensor information to be recieved via MQTT and map it to a Table on the Dashboard","info":"","x":700,"y":600,"wires":[]},{"id":"431a24f1.116c8c","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"bac5d2fe.58a0f8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":860,"wires":[]},{"id":"8c148b1f.1be1d8","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/1/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":220,"y":860,"wires":[["431a24f1.116c8c"]]},{"id":"c1da458a.c93ca8","type":"comment","z":"6e136317.3add5c","name":"This sends all sensor data to the dashboard on a single tab called ...","info":"To view this information go to _IP_:1880/ui and select the ... on the left tab button","x":400,"y":780,"wires":[]},{"id":"ced1b6fd.c70e9","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/1/humidity","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":230,"y":920,"wires":[["c5e27071.b6d618"]]},{"id":"38081744.43cb","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/1/pressure","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":230,"y":980,"wires":[["5f0094cc.f99d34"]]},{"id":"5f0094cc.f99d34","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"bac5d2fe.58a0f8","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibars","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":980,"wires":[]},{"id":"c5e27071.b6d618","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"bac5d2fe.58a0f8","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":920,"wires":[]},{"id":"2653e831.aa8d48","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"1d914196.a092ce","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":1060,"wires":[]},{"id":"c9435da.02f492","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/2/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":220,"y":1060,"wires":[["2653e831.aa8d48"]]},{"id":"1100909f.c66cc7","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/2/humidity","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":230,"y":1120,"wires":[["ac93ca92.5232b"]]},{"id":"8b781b9d.f98a68","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/2/pressure","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":230,"y":1180,"wires":[["8b01b6c5.e61408"]]},{"id":"8b01b6c5.e61408","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"1d914196.a092ce","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibars","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":1180,"wires":[]},{"id":"ac93ca92.5232b","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"1d914196.a092ce","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":1120,"wires":[]},{"id":"10dc7178.9915e7","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"e82e995c.b60db","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":1260,"wires":[]},{"id":"5b776a52.87e62c","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/3/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":220,"y":1260,"wires":[["10dc7178.9915e7"]]},{"id":"ede5459.1507db8","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/3/humidity","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":230,"y":1320,"wires":[["85eb7504.943eb8"]]},{"id":"ca5c8702.eaa07","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/3/pressure","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":230,"y":1380,"wires":[["ce01849f.05044"]]},{"id":"ce01849f.05044","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"e82e995c.b60db","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibars","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":1380,"wires":[]},{"id":"85eb7504.943eb8","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"e82e995c.b60db","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":1320,"wires":[]},{"id":"2da866cd.22e33a","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"ad497043.e7d398","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":1440,"wires":[]},{"id":"a0cd89d2.fb987","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/4/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":220,"y":1440,"wires":[["2da866cd.22e33a"]]},{"id":"cbac1d6e.608db8","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/4/humidity","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":230,"y":1500,"wires":[["869f1126.2bb738"]]},{"id":"394840f8.a9172","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/4/pressure","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":230,"y":1560,"wires":[["65556d9b.42f924"]]},{"id":"65556d9b.42f924","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"ad497043.e7d398","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibars","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":1560,"wires":[]},{"id":"869f1126.2bb738","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"ad497043.e7d398","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":1500,"wires":[]},{"id":"53dc5744.4903a8","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"375e90e3.8e6a88","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":1620,"wires":[]},{"id":"9ec9592a.64e728","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/5/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":220,"y":1620,"wires":[["53dc5744.4903a8"]]},{"id":"868d2124.2f46b8","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/5/humidity","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":230,"y":1680,"wires":[["39dce9e7.c5c766"]]},{"id":"8204404c.b34128","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/5/pressure","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":230,"y":1740,"wires":[["934d5e26.7eefe"]]},{"id":"934d5e26.7eefe","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"375e90e3.8e6a88","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibars","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":1740,"wires":[]},{"id":"39dce9e7.c5c766","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"375e90e3.8e6a88","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":1680,"wires":[]},{"id":"e75743f4.3f6f2","type":"debug","z":"68d11693.cb6f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1073,"y":709,"wires":[]},{"id":"cacb83ec.e43fb8","type":"inject","z":"68d11693.cb6f28","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219,"y":768,"wires":[["233f87bc.b47288","9d711666.1d145","929bb020.cb8e8"]]},{"id":"fa146a71.2db26","type":"inject","z":"68d11693.cb6f28","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219,"y":834,"wires":[["9d711666.1d145","929bb020.cb8e8","233f87bc.b47288"]]},{"id":"23eb4ad5.beb2de","type":"comment","z":"68d11693.cb6f28","name":"Step 1 - Initialize Bridge","info":"The first thing you need to do is intialize the bridge.\n\nJust simply ....\n\n\nThen you need to select what light you want to address\n","x":552,"y":114,"wires":[],"icon":"node-red/hash.svg"},{"id":"71685d62.906eac","type":"comment","z":"68d11693.cb6f28","name":"Step 2 - Select Light","info":"Do these steps","x":750,"y":160,"wires":[],"icon":"node-red/hash.svg"},{"id":"560c883f.912e8","type":"comment","z":"68d11693.cb6f28","name":"To Turn Light On/Off","info":"Just send a boolean message the is True for On and False for Off\n\n","x":143,"y":214,"wires":[]},{"id":"3261c7e0.529a98","type":"inject","z":"68d11693.cb6f28","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":344,"y":213,"wires":[["64be8e87.9684f8"]]},{"id":"fc470564.71cb88","type":"debug","z":"68d11693.cb6f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1116,"y":209,"wires":[]},{"id":"2fd84afc.d4a62e","type":"comment","z":"68d11693.cb6f28","name":"To Turn Light On/Off","info":"Just send a bollean message the is True for On and False for Off\n\n","x":144,"y":389,"wires":[]},{"id":"61242fc5.2ea4","type":"inject","z":"68d11693.cb6f28","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197,"y":443,"wires":[["c5f27144.d3a7d8"]]},{"id":"af7743af.a7c44","type":"debug","z":"68d11693.cb6f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1167,"y":444,"wires":[]},{"id":"6c90b77d.631ef8","type":"inject","z":"68d11693.cb6f28","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":269,"wires":[["64be8e87.9684f8"]]},{"id":"c5f27144.d3a7d8","type":"switch","z":"68d11693.cb6f28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":435,"y":447,"wires":[["ad0caf0b.10715"],["ad0caf0b.10715"],["866e7101.e91258"],["866e7101.e91258"]]},{"id":"ad0caf0b.10715","type":"change","z":"68d11693.cb6f28","name":"Set Msg to True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":621,"y":408,"wires":[["a6bd1a09.820798"]]},{"id":"866e7101.e91258","type":"change","z":"68d11693.cb6f28","name":"Set Msg to False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":629,"y":463,"wires":[["a6bd1a09.820798"]]},{"id":"23410fea.e5e688","type":"inject","z":"68d11693.cb6f28","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":195,"y":497,"wires":[["c5f27144.d3a7d8"]]},{"id":"b24506e8.72da18","type":"comment","z":"68d11693.cb6f28","name":"Split based on input","info":"Here we take a look at the message ...","x":482,"y":516,"wires":[]},{"id":"f27c938a.e915c8","type":"comment","z":"68d11693.cb6f28","name":"Can you make is easy to turn a light bulb on and off","info":"Blah blah....","x":238,"y":66,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"a1b4f18b.58353","type":"comment","z":"68d11693.cb6f28","name":"Can you make is easy turn multiple lights on or off","info":"Blah blah....","x":221,"y":647,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"784d25be.1165a4","type":"comment","z":"68d11693.cb6f28","name":"Can you make is easy turn lights on and off on other tables","info":"Blah blah....","x":260,"y":1214,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"ea9735de.cb956","type":"comment","z":"68d11693.cb6f28","name":"Can you change the color of a light","info":"Blah blah....","x":222,"y":972,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"521a6ee5.2318a","type":"comment","z":"68d11693.cb6f28","name":"Can you change the brightness of a light","info":"Blah blah....","x":242,"y":1035,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"575089f4.f9915","type":"inject","z":"68d11693.cb6f28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125,"y":1086,"wires":[["7dbe547a.2d41c4"]]},{"id":"84712c2a.fecda","type":"debug","z":"68d11693.cb6f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1023,"y":1083,"wires":[]},{"id":"f5f5530a.d52a5","type":"inject","z":"68d11693.cb6f28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":1153,"wires":[["10fa4a9e.7f48f5"]]},{"id":"7dbe547a.2d41c4","type":"change","z":"68d11693.cb6f28","name":"Set Brightness full","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1085,"wires":[["57983aa2.589864"]]},{"id":"10fa4a9e.7f48f5","type":"change","z":"68d11693.cb6f28","name":"Set Brightness 30","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"30","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":324,"y":1133,"wires":[["57983aa2.589864"]]},{"id":"1cab737f.5fbe25","type":"function","z":"68d11693.cb6f28","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":628,"y":1173,"wires":[[]]},{"id":"78956afc.343cd4","type":"debug","z":"68d11693.cb6f28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1440,"wires":[]},{"id":"9b3a6d7c.572af8","type":"ui_switch","z":"68d11693.cb6f28","name":"","label":"Lab Lights","tooltip":"","group":"1e798897.dee127","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":1680,"wires":[["72e58e81.c66048","d2e60cb3.731e9","1ff99656.8cfad2"]]},{"id":"a3bef7fe.332298","type":"comment","z":"68d11693.cb6f28","name":"Add lights to the Dashboard","info":"","x":620,"y":1300,"wires":[]},{"id":"eb681dd9.8cb79","type":"ui_switch","z":"68d11693.cb6f28","name":"","label":"Lab Light 1","tooltip":"","group":"2b036da8.a0b43a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":1400,"wires":[["72e58e81.c66048"]]},{"id":"d8cbdab1.5693f8","type":"ui_switch","z":"68d11693.cb6f28","name":"","label":"Lab Light 2","tooltip":"","group":"2b036da8.a0b43a","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":1460,"wires":[["d2e60cb3.731e9"]]},{"id":"fb2fb88c.f029d8","type":"ui_switch","z":"68d11693.cb6f28","name":"","label":"Lab Light 3","tooltip":"","group":"2b036da8.a0b43a","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":1540,"wires":[["1ff99656.8cfad2"]]},{"id":"9d65cdad.c5b5f8","type":"ui_button","z":"dddec744.0a3a5","name":"","group":"1e798897.dee127","order":2,"width":0,"height":0,"passthru":false,"label":"Savanna Sunset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":180,"wires":[["a9408eb4.9d95b"]]},{"id":"eaaf317c.e3ca08","type":"ui_button","z":"dddec744.0a3a5","name":"","group":"1e798897.dee127","order":5,"width":0,"height":0,"passthru":false,"label":"Energize","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":320,"wires":[["861917e3.e22f08"]]},{"id":"6c234417.5139b4","type":"ui_button","z":"dddec744.0a3a5","name":"","group":"1e798897.dee127","order":3,"width":0,"height":0,"passthru":false,"label":"Tropical Twighlight","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":480,"wires":[["f1e6c5eb.dc9c68"]]},{"id":"16735c11.2249cc","type":"ui_button","z":"dddec744.0a3a5","name":"","group":"1e798897.dee127","order":4,"width":0,"height":0,"passthru":false,"label":"Artic Aurora","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":640,"wires":[["5dbda0a7.0773d"]]},{"id":"b65f40ac.6ce27","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"de3ecd58.d47388","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":1820,"wires":[]},{"id":"a99186b0.126748","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/6/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":220,"y":1820,"wires":[["b65f40ac.6ce27"]]},{"id":"f0948b9.ecd2c78","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/6/humidity","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":230,"y":1880,"wires":[["e495a450.63889"]]},{"id":"4491f7a6.7212b","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/6/pressure","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":230,"y":1940,"wires":[["91ea4e6b.69a77"]]},{"id":"91ea4e6b.69a77","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"de3ecd58.d47388","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibars","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":1940,"wires":[]},{"id":"e495a450.63889","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"de3ecd58.d47388","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":1880,"wires":[]},{"id":"dc86b31.edc395","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"29244d57.5e4182","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":860,"wires":[]},{"id":"4ee4f5b2.b5ed0c","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/7/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":880,"y":860,"wires":[["dc86b31.edc395"]]},{"id":"d7f90083.d0eb7","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/7/humidity","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":890,"y":920,"wires":[["53c1ed11.e305dc"]]},{"id":"6f2a3f5c.de887","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/7/pressure","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":890,"y":980,"wires":[["d5d9c93d.61d06"]]},{"id":"d5d9c93d.61d06","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"29244d57.5e4182","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibars","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":980,"wires":[]},{"id":"53c1ed11.e305dc","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"29244d57.5e4182","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":920,"wires":[]},{"id":"5cc6697c.a0981","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"e3cadf54.21e318","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":1060,"wires":[]},{"id":"3cec104a.f48e9","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/8/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":880,"y":1060,"wires":[["5cc6697c.a0981"]]},{"id":"99e8f41f.7be378","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/8/humidity","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":890,"y":1120,"wires":[["79b8cc03.9de5b4"]]},{"id":"2ffbb6e.2656a4a","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/8/pressure","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":890,"y":1180,"wires":[["594777bc.e7f9f"]]},{"id":"594777bc.e7f9f","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"e3cadf54.21e318","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibars","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":1180,"wires":[]},{"id":"79b8cc03.9de5b4","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"e3cadf54.21e318","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":1120,"wires":[]},{"id":"fe586203.ed3aa8","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"f60acbc.3e69838","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":1240,"wires":[]},{"id":"84ab9c8a.bb413","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/9/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":880,"y":1240,"wires":[["fe586203.ed3aa8"]]},{"id":"85bdb468.983f08","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/9/humidity","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":890,"y":1300,"wires":[["994303ef.ec6c5"]]},{"id":"51de6e41.b20cd","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/9/pressure","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":890,"y":1360,"wires":[["d8d7b3de.e7194"]]},{"id":"d8d7b3de.e7194","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"f60acbc.3e69838","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibars","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":1360,"wires":[]},{"id":"994303ef.ec6c5","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"f60acbc.3e69838","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":1300,"wires":[]},{"id":"e17ba844.e69b6","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"c40730e7.211258","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":1440,"wires":[]},{"id":"3169e0f5.0403b8","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/10/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":880,"y":1440,"wires":[["e17ba844.e69b6"]]},{"id":"2479bb53.d93d2c","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/10/humidity","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":890,"y":1500,"wires":[["ad613b8e.27f658"]]},{"id":"484b535c.513174","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/10/pressure","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":890,"y":1560,"wires":[["8ae2027b.a512a8"]]},{"id":"8ae2027b.a512a8","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"c40730e7.211258","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibars","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":1560,"wires":[]},{"id":"ad613b8e.27f658","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"c40730e7.211258","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":1500,"wires":[]},{"id":"e520fb5f.592958","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"5734fa26.47015c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":1620,"wires":[]},{"id":"14afeba.ba05f14","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/11/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":880,"y":1620,"wires":[["e520fb5f.592958"]]},{"id":"cc7b2161.07055","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/11/humidity","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":890,"y":1680,"wires":[["dc088c76.14ee68"]]},{"id":"d1bd33c2.74dec8","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/11/pressure","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":890,"y":1740,"wires":[["cbd896fd.a6c058"]]},{"id":"cbd896fd.a6c058","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"5734fa26.47015c","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibars","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":1740,"wires":[]},{"id":"dc088c76.14ee68","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"5734fa26.47015c","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":1680,"wires":[]},{"id":"88d5e6e7.adacf8","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"61ecef4.dd2b61","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":1820,"wires":[]},{"id":"f738ebc1.1ad3c","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/12/temp","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":880,"y":1820,"wires":[["88d5e6e7.adacf8"]]},{"id":"d9370c15.7d586","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/12/humidity","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":890,"y":1880,"wires":[["1fdaf272.e5cfee"]]},{"id":"bb312289.3dc8c8","type":"mqtt in","z":"6e136317.3add5c","name":"","topic":"sensor/12/pressure","qos":"2","datatype":"auto","broker":"994fea80.cb04a","x":890,"y":1940,"wires":[["434b5495.1d54a4"]]},{"id":"434b5495.1d54a4","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"61ecef4.dd2b61","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"millibars","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":1940,"wires":[]},{"id":"1fdaf272.e5cfee","type":"ui_gauge","z":"6e136317.3add5c","name":"","group":"61ecef4.dd2b61","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percent","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1260,"y":1880,"wires":[]},{"id":"481effde.d6723","type":"hue-bridge-node","z":"68d11693.cb6f28","name":"","bridge":"da164394.5a274","autoupdates":true,"x":620,"y":60,"wires":[[]]},{"id":"64be8e87.9684f8","type":"hue-light","z":"68d11693.cb6f28","name":"Lab Light 1","bridge":"da164394.5a274","lightid":"1","colornamer":true,"x":730,"y":240,"wires":[["fc470564.71cb88"]]},{"id":"a6bd1a09.820798","type":"hue-light","z":"68d11693.cb6f28","name":"Lab Light 1","bridge":"da164394.5a274","lightid":"1","colornamer":true,"x":910,"y":440,"wires":[["af7743af.a7c44"]]},{"id":"233f87bc.b47288","type":"hue-light","z":"68d11693.cb6f28","name":"Lab Light 1","bridge":"da164394.5a274","lightid":"1","colornamer":true,"x":650,"y":700,"wires":[["e75743f4.3f6f2"]]},{"id":"9d711666.1d145","type":"hue-light","z":"68d11693.cb6f28","name":"Lab Light 2","bridge":"da164394.5a274","lightid":"2","colornamer":true,"x":650,"y":780,"wires":[["e75743f4.3f6f2"]]},{"id":"929bb020.cb8e8","type":"hue-light","z":"68d11693.cb6f28","name":"Lab Light 3","bridge":"da164394.5a274","lightid":"3","colornamer":true,"x":650,"y":860,"wires":[["e75743f4.3f6f2"]]},{"id":"57983aa2.589864","type":"hue-light","z":"68d11693.cb6f28","name":"Lab Light 1","bridge":"da164394.5a274","lightid":"1","colornamer":true,"x":670,"y":1080,"wires":[["84712c2a.fecda"]]},{"id":"72e58e81.c66048","type":"hue-light","z":"68d11693.cb6f28","name":"Lab Light 1","bridge":"da164394.5a274","lightid":"1","colornamer":true,"x":730,"y":1420,"wires":[["78956afc.343cd4"]]},{"id":"d2e60cb3.731e9","type":"hue-light","z":"68d11693.cb6f28","name":"Lab Light 2","bridge":"da164394.5a274","lightid":"2","colornamer":true,"x":730,"y":1520,"wires":[["78956afc.343cd4"]]},{"id":"1ff99656.8cfad2","type":"hue-light","z":"68d11693.cb6f28","name":"Lab Light 3","bridge":"da164394.5a274","lightid":"3","colornamer":true,"x":730,"y":1620,"wires":[["78956afc.343cd4"]]},{"id":"65b1442c.7db6a4","type":"hue-light","z":"dddec744.0a3a5","name":"Lab Light 1","bridge":"da164394.5a274","lightid":"1","colornamer":true,"x":990,"y":240,"wires":[["5d8b2ca4.0e1eb4"]]},{"id":"9408b3d8.5d429","type":"hue-light","z":"dddec744.0a3a5","name":"Lab Light 2","bridge":"da164394.5a274","lightid":"2","colornamer":true,"x":990,"y":340,"wires":[["5d8b2ca4.0e1eb4"]]},{"id":"30f01dbf.1d388a","type":"hue-light","z":"dddec744.0a3a5","name":"Lab Light 3","bridge":"da164394.5a274","lightid":"3","colornamer":true,"x":990,"y":460,"wires":[["5d8b2ca4.0e1eb4"]]},{"id":"70761091.b0173","type":"http in","z":"9c931c56.53461","name":"Camera 1","url":"/camera/motion/1","method":"get","upload":false,"swaggerDoc":"","x":200,"y":160,"wires":[["4f10b530.457f0c"]]},{"id":"855a6fdf.63fb48","type":"http in","z":"9c931c56.53461","name":"Camera 2","url":"/camera/motion/2","method":"get","upload":false,"swaggerDoc":"","x":200,"y":280,"wires":[["53ad979b.5e9a78"]]},{"id":"8a856145.74e29","type":"http in","z":"9c931c56.53461","name":"Camera 3","url":"/camera/motion/3","method":"get","upload":false,"swaggerDoc":"","x":200,"y":400,"wires":[["9816b9a1.3f0738"]]},{"id":"1500d31b.346975","type":"http in","z":"9c931c56.53461","name":"Camera 4","url":"/camera/motion/4","method":"get","upload":false,"swaggerDoc":"","x":200,"y":520,"wires":[["2676648f.5be7ec"]]},{"id":"4f10b530.457f0c","type":"change","z":"9c931c56.53461","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera 1 Motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["433a45cb.620dbc","11971e1e.ac209a","deb7f8ab.77c24"]]},{"id":"53ad979b.5e9a78","type":"change","z":"9c931c56.53461","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera 2 Motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":280,"wires":[["433a45cb.620dbc","e933fdba.1bd5b8","deb7f8ab.77c24"]]},{"id":"9816b9a1.3f0738","type":"change","z":"9c931c56.53461","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera 3 Motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":400,"wires":[["433a45cb.620dbc","fc9cd60b.96bb08","deb7f8ab.77c24"]]},{"id":"2676648f.5be7ec","type":"change","z":"9c931c56.53461","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Camera 4 Motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":520,"wires":[["433a45cb.620dbc","40338b2a.f39cc4","deb7f8ab.77c24"]]},{"id":"433a45cb.620dbc","type":"debug","z":"9c931c56.53461","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":60,"wires":[]},{"id":"11971e1e.ac209a","type":"mqtt out","z":"9c931c56.53461","name":"","topic":"camera/motion/1","qos":"","retain":"","broker":"55d98ec2.4cad","x":910,"y":160,"wires":[]},{"id":"e933fdba.1bd5b8","type":"mqtt out","z":"9c931c56.53461","name":"","topic":"camera/motion/2","qos":"","retain":"","broker":"55d98ec2.4cad","x":910,"y":280,"wires":[]},{"id":"fc9cd60b.96bb08","type":"mqtt out","z":"9c931c56.53461","name":"","topic":"camera/motion/3","qos":"","retain":"","broker":"55d98ec2.4cad","x":910,"y":400,"wires":[]},{"id":"40338b2a.f39cc4","type":"mqtt out","z":"9c931c56.53461","name":"","topic":"camera/motion/4","qos":"","retain":"","broker":"55d98ec2.4cad","x":910,"y":520,"wires":[]},{"id":"deb7f8ab.77c24","type":"mqtt out","z":"9c931c56.53461","name":"","topic":"alert/red","qos":"","retain":"","broker":"8ba8de2c.24a468","x":760,"y":60,"wires":[]},{"id":"292ff73b.195028","type":"comment","z":"9c931c56.53461","name":"wait for alert to come in 10.0.10.1:1880/camera/motion/1","info":"","x":350,"y":100,"wires":[]},{"id":"b11d99c6.e0f078","type":"twitter in","z":"27d015a2.036d5a","twitter":"","tags":"#fail","user":"false","name":"","inputs":0,"x":570,"y":220,"wires":[["6d4fb059.fbe958","51a0708f.7d44d8","6aca850c.354cdc"]]},{"id":"8b28fa89.659de8","type":"inject","z":"9c931c56.53461","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":220,"wires":[["4f10b530.457f0c"]]},{"id":"b45a067e.0a33f","type":"inject","z":"9c931c56.53461","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["53ad979b.5e9a78"]]},{"id":"e58cf3cb.332d4","type":"inject","z":"9c931c56.53461","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":460,"wires":[["9816b9a1.3f0738"]]},{"id":"fd8bba06.766f3","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables/1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":160,"wires":[["7f913cc8.886e9c"]]},{"id":"7f913cc8.886e9c","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables/1","qos":"","retain":"","broker":"4c27caa2.f19e84","x":450,"y":160,"wires":[]},{"id":"7f2dbdd3.e0b8e4","type":"comment","z":"ea445d29.6cc15","name":"Press to test specific ledMsg/Tables/","info":"This will send 'Test ledMSG/Tables/1' to the local LED","x":320,"y":100,"wires":[]},{"id":"bf58e2fd.2a7178","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables/2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":220,"wires":[["fc67d500.5d35e"]]},{"id":"fc67d500.5d35e","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables/2","qos":"","retain":"","broker":"4c27caa2.f19e84","x":450,"y":220,"wires":[]},{"id":"d936107.756d3f","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables/3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":280,"wires":[["9260b2b8.a53a2"]]},{"id":"9260b2b8.a53a2","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables/3","qos":"","retain":"","broker":"4c27caa2.f19e84","x":450,"y":280,"wires":[]},{"id":"d64d1cb5.957ad","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables/4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":340,"wires":[["2ec3420a.2d3abe"]]},{"id":"2ec3420a.2d3abe","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables/4","qos":"","retain":"","broker":"4c27caa2.f19e84","x":450,"y":340,"wires":[]},{"id":"5143fdb5.90422c","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables/5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":400,"wires":[["1d8c90bf.5284cf"]]},{"id":"1d8c90bf.5284cf","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables/5","qos":"","retain":"","broker":"4c27caa2.f19e84","x":450,"y":400,"wires":[]},{"id":"76d7ef74.16e18","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables/6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":460,"wires":[["b971d7b9.7ed278"]]},{"id":"b971d7b9.7ed278","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables/6","qos":"","retain":"","broker":"4c27caa2.f19e84","x":450,"y":460,"wires":[]},{"id":"6a1bbb48.46ff3c","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables/7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":520,"wires":[["5af60242.a7fcd4"]]},{"id":"5af60242.a7fcd4","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables/7","qos":"","retain":"","broker":"4c27caa2.f19e84","x":450,"y":520,"wires":[]},{"id":"3c20cc96.bea2fc","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables/8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":580,"wires":[["27b6153f.b3758a"]]},{"id":"27b6153f.b3758a","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables/8","qos":"","retain":"","broker":"4c27caa2.f19e84","x":450,"y":580,"wires":[]},{"id":"4115a917.03cd28","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables/9","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":640,"wires":[["f8da4d39.029fa"]]},{"id":"f8da4d39.029fa","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables/9","qos":"","retain":"","broker":"4c27caa2.f19e84","x":450,"y":640,"wires":[]},{"id":"3cd42e81.b629f2","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables/10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":700,"wires":[["f2b43a79.1eee28"]]},{"id":"f2b43a79.1eee28","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables/10","qos":"","retain":"","broker":"4c27caa2.f19e84","x":460,"y":700,"wires":[]},{"id":"f64072a7.74ba78","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables/11","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":760,"wires":[["415d0a97.5356e4"]]},{"id":"415d0a97.5356e4","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables/11","qos":"","retain":"","broker":"4c27caa2.f19e84","x":460,"y":760,"wires":[]},{"id":"b9d0ea10.a1c11","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables/12","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":820,"wires":[["cc59632b.1417"]]},{"id":"cc59632b.1417","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables/12","qos":"","retain":"","broker":"4c27caa2.f19e84","x":460,"y":820,"wires":[]},{"id":"ff48ac5b.fe678","type":"inject","z":"3d6c12d2.9f4a6e","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["650abc60.72a7ac"]]},{"id":"650abc60.72a7ac","type":"mqtt out","z":"3d6c12d2.9f4a6e","name":"","topic":"alert/red","qos":"","retain":"","broker":"13f55c7f.d263f4","x":390,"y":120,"wires":[]},{"id":"cb60cbd8.4193b","type":"inject","z":"3d6c12d2.9f4a6e","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["8ebaac72.d29fd8"]]},{"id":"8ebaac72.d29fd8","type":"mqtt out","z":"3d6c12d2.9f4a6e","name":"","topic":"alert/green","qos":"","retain":"","broker":"13f55c7f.d263f4","x":380,"y":240,"wires":[]},{"id":"81ea2aab.28b24","type":"comment","z":"3d6c12d2.9f4a6e","name":"Test Red Alert","info":"","x":130,"y":80,"wires":[]},{"id":"65c52d03.4ab6dc","type":"comment","z":"3d6c12d2.9f4a6e","name":"Test Green Alert","info":"","x":140,"y":200,"wires":[]},{"id":"847de27b.7547a","type":"inject","z":"3d6c12d2.9f4a6e","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["dc09d87b.d41b58"]]},{"id":"dc09d87b.d41b58","type":"mqtt out","z":"3d6c12d2.9f4a6e","name":"","topic":"alert/yellow","qos":"","retain":"","broker":"13f55c7f.d263f4","x":380,"y":360,"wires":[]},{"id":"3660ef0a.db40c8","type":"comment","z":"3d6c12d2.9f4a6e","name":"Test Green Alert","info":"","x":140,"y":320,"wires":[]},{"id":"bbca47a6.a13348","type":"inject","z":"ea445d29.6cc15","name":"","topic":"","payload":"Test ledMsg/tables","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":160,"wires":[["502e813a.bc846"]]},{"id":"502e813a.bc846","type":"mqtt out","z":"ea445d29.6cc15","name":"","topic":"ledMsg/tables","qos":"","retain":"","broker":"4c27caa2.f19e84","x":990,"y":160,"wires":[]},{"id":"8e5e6a9b.40519","type":"comment","z":"ea445d29.6cc15","name":"Press to test all tables","info":"This will send 'Test ledMSG/Tables/1' to the local LED","x":840,"y":100,"wires":[]}]